body{
    margin: 0;
}
#screenspace{
    background: black;
    width: 1600px;
    height: 900px;
}
#loading{
    position: absolute;
    left: 740px;
    top: 40px;
    width: 650px;
}
#staticHolder{
    /* display: none; */
}
#textHolder{
    display: none;
}
#catHolder{
    display: none;
}
#cat1{
    position: absolute;
    top: 130px;
    left: 890px;
}
#catimg1{
    height: 140px;
}
#cat3{
    position: absolute;
    top: 660px;
    left: 700px;
}
#catimg3{
    height: 160px;
}
#boxGame{
    display: none;
}
#chatGame{
    display: none;
}
#startScene{
    display: none;
}
#startText{
    color: white;
    position: absolute;
    text-align: center;
    top: 134px;
    left: 775px;
    font-size: 36px;
}
#startHeader{
    color: #00d048;
    margin-bottom: -5px;
    font-family: 'Noto Sans Mono';
    font-size: 64px;
}
#startMidText{
    font-weight: 200;
    font-family: 'Noto Sans Mono';
    font-size: 34px;
    margin-bottom: 0px;
    margin-top: 50px;
}
#startCountdown{    
    font-family: 'Noto Sans Mono';
    font-weight: 200;
    font-size: 240px;
    margin-top: -20px;
}
.decor1{
    position: absolute;
    width: 189px;
    height: 239px;
    border-left: 2px solid #c10281;
    border-top: 2px solid #c10281;
    top: 524px;
    left: -125px;
}
.decor2{
    position: absolute;
    width: 450px;
    height: 115px;
    border-left: 2px solid #c10281;
    border-bottom: 2px solid #c10281;
    top: -134px;
    left: 255px;
}
.decor3{
    position: absolute;
    width: 255px;
    height: 543px;
    border-right: 2px solid #c10281;
    border-bottom: 2px solid #c10281;
    top: -19px;
    left: 450px;
}
#intermissionScene{
    display: none;
}
#intermissionText{
    color: white;
    position: absolute;
    text-align: center;
    top: 134px;
    left: 775px;
    font-size: 36px;
}
#intermissionHeader{
    color: #00d048;
    margin-bottom: -5px;
    font-family: 'Noto Sans Mono';
    font-size: 64px;
}
#intermissionMidText{
    font-weight: 200;
    font-family: 'Noto Sans Mono';
    font-size: 34px;
    margin-bottom: 0px;
    margin-top: 50px;
}
#royaleCountdown{
    font-family: 'Noto Sans Mono';
    font-weight: 200;
    font-size: 240px;
    margin-top: -20px;
}
#newRoundScene{
    display: none;
}
#newRoundText{
    color: white;
    position: absolute;
    text-align: center;
    top: 34px;
    left: 610px;
    font-size: 36px;
    width: 930px;
}
#newRoundText2{   
    font-size: 32px;
    text-align: left;
    font-family: 'Noto Sans Mono';
    font-weight: 300;
    position: absolute;
    left: 250px;
}
#newRoundText3{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Noto Sans Mono';
    font-weight: 100;
    font-size: 50px;
}
#roundCountdown{
    position: absolute;
    left: 495px;
    font-family: 'Noto Sans Mono';
    font-weight: 200;
    top: 513px;
    font-size: 110px;
}
#prize{
    font-family: 'Noto Sans Mono';
    color: #00d048;
    font-weight: 300;
    font-size: 170px;
    margin-top: 0;
}
#winnerName{
    width: 930px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'Noto Sans Mono';
    font-weight: 300;
    font-size: 92px;
    margin-bottom: 0;
}
.decor4{
    position: absolute;
    width: 190px;
    height: 194px;
    border-left: 2px solid #c10281;
    border-top: 2px solid #c10281;
    top: 704px;
    left: 600px;
}
.decor5{
    position: absolute;
    width: 255px;
    height: 150px;
    border-right: 2px solid #c10281;
    border-bottom: 2px solid #c10281;
    top: 554px;
    left: 1290px;
}
.decor6{
    position: absolute;
    width: 163px;
    height: 149px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    top: 256px;
    left: 600px;
}
.decor7{
    position: absolute;
    width: 163px;
    height: 149px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    top: 256px;
    left: 1382px;
}
#timerHolder{
    color: white;
    position: absolute;
    left: 80px;
    top: 80px;
}
#roundHolder{
    position: absolute;
    color: white;
    top: 600px;
    left: 54px;
    font-size: 24px;
}
#prizeHolder{
    position: absolute;
    color: white;
    top: 310px;
    left: 54px;
}
#commandHolder{
    position: absolute;
    left: 640px;
    top: 345px;
    color: white;
}
#winnerHolder{
    color: white;
    top: 740px;
    left: 55px;
    position: absolute;
}
#gridHolder{
    position: absolute;
    left: 410px;
    top: 40px;
    color: white;
    transform: scale(2,1.5);
    transform-origin: top left;
}
#royaleHolder{
    position: absolute;
    top: 75px;
    left: 100px;
    width: 1400px;
    height: 750px;

}
#wordHolder{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
#uiHolder{
    position: absolute;
    display: flex;
    top: 0px;
    left: 700px;
    color: white;
    width: 666px;
    font-size: 24px;
    justify-content: space-between;
}
#eliminationHolder{
    color: white;
    position: absolute;
    top: 75px;
    left: 164px;
    display: none;
}
#spinner{
    width: 100%;
}
#timerText{
    color: limegreen;
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: monospace;
}
#timer{
    font-size: 170px;
    font-family: sans-serif;
    margin-top: 0;
    font-weight: 600;
}
#commandText{
    color: limegreen;
    font-size: 34px;
    font-family: monospace;
}
.green{
    border: 1px solid #073e12;
}
.command{
    display: inline-block;
    font-size: 24px;
    font-family: monospace;
    margin: 0;
}
.commandBar{
    /* background: white; */
    width: 60%;
    float: right;
    height: 14px;
    margin-top: 7px;
}
.innerCommandBar{
    width: 10%;
    height: 14px;
    background: white;
}
#grid{
    width: 520px;
}
.box{
    font-size: 40px;
    width: 28%;
    height: 118px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 22px;
}
.box p{
    margin: 36px 0;
}
.boxPercent{
    position: absolute;
    top: 2px;
    margin: 0 !important;
    font-size: 16px;
    right: 2px;
}
.flip-card{
    background-color: transparent;
    perspective: 1000px;
}
.flip-inner{
    border: 2px solid #ffffff;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-inner {
    transform: rotateY(180deg);
}
.show-card .flip-inner{
    transform: rotateY(180deg);
}
.flip-front, .flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flip-front {
    /* background-color: #bbb; */
    /* color: black; */
}
.flip-back {
    /* background-color: dodgerblue; */
    /* color: white; */
    transform: rotateY(180deg);
}
/************** CHAT GAME ****************/
.word{
    width: 10%;
    color: limegreen;
    text-align: center;
}
.wordText{
    margin: 0 auto;
    font-size: 11px;
    font-family: monospace;
}
/************** name expansion ****************/
.word.grow1{
    width: 11%;
}
.grow1 .wordText{
    font-size: 12px;
}
.word.grow2{
    width: 12%;
}
.grow2 .wordText{
    font-size: 13px;
}
.word.grow3{
    width: 13%;
}
.grow3 .wordText{
    font-size: 14px;
}
.word.grow4{
    width: 15%;
}
.grow4 .wordText{
    font-size: 17px;
}
.word.grow5{
    width: 17%;
}
.grow5 .wordText{
    font-size: 19px;
}
.word.grow6{
    width: 21%;
}
.grow6 .wordText{
    font-size: 23px;
}
.word.grow7{
    width: 26%;
}
.grow7 .wordText{
    font-size: 36px;
}
.word.grow8{
    width: 44%;
}
.grow8 .wordText{
    font-size: 56px;
}
.word.grow9{
    width:100%;
}
.grow9 .wordText{
    font-size: 82px;
}